@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Bruno+Ace+SC&display=swap');

:root {
    /* Font */
    --heading-font: "Bruno Ace SC";
    --paragraph-font: "Bruno Ace";  
    /* Body */
    --background-color: #D2B48C;
    /* Header & Nav */
    --header-background-color: #643200;
    --nav-text-color: white;
    --nav-hover-background-color: #a1896b;
    --nav-hover-text-color: #643200;
    /* #Background */
    --background2-color: #a1896b;
    /* Footer */
    --footer-background-color: #643200;
    --footer-text-color: white;
    --footer-hover-background-color: #a1896b;
    --footer-hover-text-color: #643200;
}
body {
    background-color: var(--background-color);
    font-family: var(--paragraph-font);
    font-size: 22px;
    margin: 0;
    padding: 0;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
header {
    background-color:var(--header-background-color);
    display: grid;
    grid-template-columns: 150px auto;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo {
    width: 80px;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    color: var(--nav-text-color);
    text-align: center;
    text-decoration: none;
    padding: 35px;
}  
nav a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-text-color);
}
form {
    /* Center the form on the page */
    margin: 50px auto;
    width: 450px;
    /* Form outline */
    padding: 1em;
    background-color: var(--background2-color);
    color: var(--nav-hover-text-color);
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
form li + li {
    margin-top: 1em;
}
label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 125px;
    text-align: right;
}
input, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 2em;
    font-family: var(--paragraph-font);
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
    /* Match form field borders */
    border: 1px solid var(--background-color);
}
input:focus, textarea:focus {
    /* Additional highlight for focused elements */
    border-color: black;
}
textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
    /* Provide space to type some text */
    height: 5em;
}
.button {
    /* Align buttons with the text fields */
    padding-left: 150px; /* same size as the label elements */
    list-style: none;
}
button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
}
#feedback {
    background-color: var(--background2-color);
    color: var(--nav-hover-text-color);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}
footer {
    background-color: var(--footer-background-color);
    color: var(--footer-text-color);
    padding: 25px 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}     
footer .social img {
    padding-top: 15px;
} 
footer p a:hover {
    text-decoration: underline;
} 
footer a {
    color: var(--footer-text-color);
    text-decoration: none;
}
footer a:hover{
    background-color: var(--footer-hover-background-color);
    color: var(--footer-hover-text-color);
}

@media screen and (max-width: 900px) {
    .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    footer {
        margin-top: 25px;
    }
}