@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Bruno+Ace+SC&display=swap');

/* Website Color Scheme and Font */
:root {
    /* Main Color Scheme */
    --primary-color: #643200;
    --secondary-color: #D2B48C;
    --accent1-color: #008000;
    --accent2-color: #00A000;
    /* Background Color */
    --background-color: #D2B48C;
    /* Font */
    --heading-font: "Bruno Ace SC";
    --paragraph-font: "Bruno Ace";
    /* Header Color Scheme */
    --header-background-color: #643200;
    --header-link-color: white;
    --header-hover-background-color: #a1896b;
    --header-hover-link-color: #643200;
    /* Navigation Color Scheme */
    --nav-text-color: white;
    --book-now-text-color: white;
    --book-now-background-color: #00A000;
    --dot-color: transparent;    
    --dot-background-color: transparent;
    /* Section Color Scheme */
    --section-background-color: transparent;
    --section-link-color: white;
    --section-link-background-color: #008000;
    --section-title-color: #643200;
    --section-title-border-color: #00A000;
    /* Article Color Scheme */
    --article-background-color: #a1896b;
    --article-text-color: #643200;
    --article-title-border-color: #00A000;
    --article-title-color: #643200;
    /* Footer Color Scheme */
    --footer-background-color: #643200;
    --footer-link-color: white;
    --footer-hover-background-color: #a1896b;
    --footer-hover-link-color: #643200;
    --footer-copyright-color: white;


  }

/* Whole Page Coding */ 
* {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
/* Background Color */  
body {
    background-color: var(--background-color);
}

/* Header CSS Coding */ 
header {
  background-color: var(--header-background-color);
  text-align: center;
  font-size: 1.2em;
  font-family: var(--heading-font);
  height: 50px;
  position: relative;
  padding-top: 25px;
}
header a {
  min-width: 120px;
  text-decoration: none;
  padding: 15px;
}
header a:link, header a:visited {
  color: var(--header-link-color);
}  
header a:hover {
  color: var(--header-hover-link-color);
  background-color: var(--header-hover-background-color);
}

/* Navigation CSS Coding */
.slideshow-container {
  position: relative;
}
.wwr-nav-photo{
  width: 2378px;
  height: 900px;
  position: relative;
}
.RaftingRodeoImage{
  width: 14%;
  position: absolute;
  top: 50px;
  left: 25px;
}
.text {
  color: var(--nav-text-color);
  font-family: var(--heading-font);
  font-size: 48px;
  font-weight: 1000;
  position: absolute;
  bottom: 150px;
  left: 712.5px; 
}
.book-now {
  background-color: var(--book-now-background-color);
  font-size: 27px;
  font-weight: 1000;
  position: absolute;
  bottom: 100px;
  left: 1100px; 
  padding: 7px;
}
.book-now a{
  text-decoration: none;
  color: var(--book-now-text-color);
  font-family: var(--heading-font);
}
.dot {
  background-color: var(--dot-color);
}
.active {
  background-color: var(--dot-background-color);
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* Section CSS Coding */
section {
  background-color: var(--section-background-color);
  text-align: center;
  font-size: 1.2em;
  font-family: var(--heading-font);
  position: relative;
  height: 870px;
}
section h2 {
  color: var(--section-title-color);
  font-size: 48px;
  font-weight: 1000;
  text-align: center;
  border-bottom-style: solid;
  border-color: var(--section-link-background-color);
  border-width: 5px;
  position: absolute;
  top: 50px;
  left: 615px;
}
section h1 {
  background-color: var(--section-title-border-color);
  color: var(--section-link-color);
  text-align: center;
  padding: 5px;
  position: absolute;
  bottom: 5px;
  width: 590px;
}
.river-locations-s {
  position: absolute;
  right: 1215px;
  bottom: 420px;
}
.pricing-s {
  position: absolute;
  left: 1215px;
  bottom: 420px;
}
.about-s {
  position: absolute;
  right: 1215px;
  bottom: 75px;
  }
.contact-us-s {
  position: absolute;
  left: 1215px;
  bottom: 75px;
}

/* Article CSS Coding */
article {
  background-color: var(--article-background-color);
  text-align: center;
  font-size: 1.2em;
  font-family: var(--heading-font);
  position: relative;
  height: 870px;
}
article h2 {
  color: var(--article-title-color);
  font-size: 48px;
  font-weight: 1000;
  text-align: center;
  border-bottom-style: solid;
  border-color: var(--article-title-border-color);
  border-width: 5px;
  position: absolute;
  top: 50px;
  left: 605px;
}
.article-image {
  position: absolute;
  top: 150px;
  left: 130px;
}
article p {
  color: var(--article-text-color);
  font-size: 24px;
  font-family: var(--paragraph-font);
  position: absolute;
  text-align: left;
  top: 180px;
  right: 130px; 
  width: 1024px;
}

/* Footer CSS Coding */
footer {
  background-color: var(--footer-background-color);
  text-align: center;
  font-size: 1.2em;
  font-family: var(--heading-font);
  position: relative;
  height: 600px;
}
footer h1 {
  color: var(--footer-link-color);
  text-align: center;
  padding: 10px;
}
footer ul li {
  padding: 5px;
}
footer a {
  min-width: 120px;
  text-decoration: none;
}
footer a:link, footer a:visited {
  color: var(--footer-link-color);
}  
footer a:hover {
  text-decoration: underline;
}
.contact-us-f {
  width: 500px;
  position: absolute;
  left: 186px;
}
.river-locations-f {
  width: 500px;
  position: absolute;
  right: 1189px;
}
.site-map-f {
  width: 500px;
  position: absolute;
  left: 1189px;
  }
.social-media-links-f {
  width: 500px;
  position: absolute;
  right: 186px;
}
.logo-f {
  width: 500px;
  position: absolute;
  bottom: 50px;
  left: 940px;
}
.copyright-f {
  color: var(--footer-copyright-color);
  font-family: var(--paragraph-font);
  font-size: 15px;
  position: absolute;
  bottom: 25px;
  left: 995px;
}